spring:
  autoconfigure:
    exclude: []
  datasource:
    url: jdbc:mysql://localhost:3306/lockbench?serverTimezone=UTC&characterEncoding=UTF-8
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

lockbench:
  redis-lock:
    enabled: false
